<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="{% static 'booktest/jquery-1.12.4.min.js' %}"></script>
    <script>
        $(function () {
            pro = $('#pro');
            city = $('#city');
            dis = $('#dis')
            $.get('/pro/',function (list) {
                $.each(list.data,function (index,item) {
                    pro.append('<option value="'+item['id']+'">'+item['title']+'</option>')
                })

            });
            $('#pro').change(function () {
                {#select的value：指的是select中选中option的value#}
                city.empty().append('<option value="0">请选择市</option>');
                dis.empty().append('<option value="0">请选择区县</option>');
                $.get('/city'+$(this).val()+'/',function (list) {
                     $.each(list.data,function (index,item) {
                    city.append('<option value="'+item.id+'">'+item.title+'</option>')
                })

                });


            });
            $('#city').change(function () {
                dis.empty().append('<option value="0">请选择区县</option>');
                $.get('/dis'+$(this).val()+'/', function (list) {
                    $.each(list.data, function (index,item) {
                        dis.append('<option value="'+item['id']+'">'+item['title']+'</option>')
                    })
                })
            })


        })
    </script>
</head>
<body>
<select name="" id="pro">
    <option value="0">请选择省</option>
</select>
<select name="" id="city">
    <option value="0">请选择市</option>
</select>
<select name="" id="dis">
    <option value="0">请选择区县</option>
</select>
</body>
</html>